.fade-out{
    opacity: 0.0;
    animation: fade-out 5s linear 1;
}

@keyframes fade-out {
    0% {
      opacity: 1.0;
    }

    50% {
      opacity: 1.0;
    }
  
    100% {
      opacity: 0;
    }
}